.env
.virtual_documents
.idea
.ipynb_checkpoints
.DS_Store
.venv
*/.env
.env/
.virtual_documents/
.idea/
.ipynb_checkpoints/
.DS_Store/
.venv/
*/.env/
HuggingFaceGuidedTourForMac/
HuggingFaceGuidedTourForMac
__pycache__
__pycache__/